body {
	background-color: #B4C6A6;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
	background-color: #FFC286;
}
hr {
	border-style: dotted none none;
	border-width: 10px;
	width: 6%;
	border-color: gray;
}
ul, li {
	list-style: none;
}
.top-body {
	display: flex;
	justify-content: start;
	gap: 30px;
}
.top-list {
	margin-left: -40px;
}
.form-btn {
	cursor: pointer;
}
h1 {
	color: #064635;
}
h3 {
	color: #461111;
}